*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chewy', fantasy;
}

body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

span {
    color: blue;
    background-color: yellow;
    text-decoration: underline;
    /* width: 10px; */
    height: 10px;
    padding: 0 10px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#mad-lib {
    margin-top: 50px;;
    font-size: 3em;
}