*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chewy', fantasy;
    letter-spacing: 0.4px;
}

body {        
    /* font-family: 'Titillium Web', sans-serif; */
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
}

main {
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(-45deg, red, orange, yellow, green, blue, purple);
    color: yellow;
    border-bottom: 10px solid magenta;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Chewy;
    letter-spacing: 2px;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
    background-image: linear-gradient(-45deg, red, orange, yellow, green, blue, purple);
    font-family: chewy;
    color: yellow;
    letter-spacing: 2px;
    border-top: 10px solid magenta;
}

span {
    color: blue;
    border-bottom: 3px solid blue;
    text-decoration: underline;
    /* width: 10px; */
    height: 10px;
    padding: 0 10px;

}

input {
    height: 1.5rem; 
    padding-left: 3px;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#mad-lib {
    margin-top: 50px;;
    font-size: 2em;
    /* visibility: hidden; */
}

#poop {
    padding: 10px 0;
}

.hidden {
    visibility: hidden;
}